name: keep-alive

on:
  workflow_dispatch:
  schedule:
    - cron: "5 7 * * 1" # Runs every Monday (1) at 7:05

jobs:
  test-job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - run: date > date.txt
      - uses: stefanzweifel/git-auto-commit-action@v5
      - name: Make HTTP request The wild oasis. Confirm DB is active
        run: curl -L https://the-wild-oasis-kb.vercel.app/cabins
      - name: Make HTTP request to Wether-kids app. Confirm DB is active
        run: curl -L https://weather-kids.netlify.app/ping
